<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h1>SignUp</h1>
    <form method="post">
    <label>username</label><input name="username" type="text" value="">{{username }}></input>
        <label name="error ">{{ error_username }}</label>
        <label>password</label> <input name="password"type="password" value=""> </input>
         <label name="error ">{{ error_password }}</label>
        <label>confirm password</label> <input name="verify"type="password" value=""> </input>
         <label name="error ">{{ error_verify }}</label>

            <label>email</label> <input name="email"type="text" value=""> </input>
            <label name="error ">{{ error_email }}</label>


    <button type="submit" value=""></button>

        </form>

